
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
/*  border: 1px dashed lightgrey;*/
}

a {
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: all .3s;
}

a:hover {
  color: #4C39AC;
  transition: all .3s;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

.canvas {
  height:300px;
  width: 400px;
  position: absolute;
  top:0;
  left:0;
  z-index: -3;
}

.canvas2 {
  height: 100%;
  width: 100%;
  z-index: -3;
}

.canvas:after {
  content: '';
  width: 100%;
  height: 100%;
  position:absolute;
  background: linear-gradient(135deg, rgba(255,255,255,0),rgba(255,255,255,1));
  top:0;
  left:0;
}

.canvas:after, .canvas2:after {
  content: '';
  width: 100%;
  height: 100%;
  position:absolute;
  background: linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,1));
  top:0;
  left:0;
}

.canvas2:after {
  background: linear-gradient(180deg, rgba(255,255,255,0),rgba(255,255,255,1));
}

footer {
  background-color: #333333;
  padding: 60px;
  overflow: auto;
}

footer a {
  color: white;
}

li {
  list-style: none;
}

.blog-thumbnail {
  width: 100%;
  min-width: 375px;
  margin-bottom: 20px;
  
}

.blog-splash {
  position: relative;
}

.blog-title {
  position: absolute;
  top: 20%;
  color: white;
  font-size: 4em;
  left: 20%;
  text-shadow: 0 0 10px black;
}

.content-divider {
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0) 40%, black);
  clear: both;
}

.flexy {
  display:flex;
  flex-wrap: wrap;
}

.main-content p {
  padding-bottom: 20px;
  line-height: 1.5em;
}

.main-content h2 {
  padding-bottom: 20px;
  line-height: 1.5em;
  margin-top: 30px;
  font-size: 2em;
}

.nav li {
  display: inline;
  margin-left: 40px;
  font-size: 1.4em;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-self: flex-end;
  text-align: right;
  float: right;
}

.navbar-header {
  padding: 20px;
  font-size: 2.5em;
}

.navbar-text {
  padding: 20px;
  font-size: 2.5em;
}

.nav .active a {
  border-bottom: 3px solid black;
  visibility: visible;
    transition: all .3s;

}

.nav a:hover {
  border-bottom: 3px solid #4C39AC;
    transition: all .3s;

}

.nav .branch-menu {
  visibility: hidden;
}

.nav .active .branch-menu a {
  visibility: visible;
  border-bottom: 0;
  color: blue;
}

.branch-menu .active a {
  border-bottom: 1px solid black;
}

.branch-menu a:hover {
  border-bottom: 1px solid #4C39AC;
}

.branch-menu li {
  display: inline;
  margin-left: 30px;
}

.container {
  display: flex;
  margin: 20px;

}

.container .main-content {
  flex: 1;
  margin: 20px;
  overflow: hidden;
}

.container .right {
/*  background: rgba(0,0,0,.1);*/
  padding: 30px;
/*  box-shadow: inset 0 0 12px gray;*/
  border-left: 1px solid gray;
  
}

.right h3{
  padding-bottom: 10px;
}

.list-unstyled {
  padding-left: 10px;
  padding-bottom: 20px;
  line-height: 1.5em;
}

.nav-footer .list-unstyled {
  padding-left: 50px;
  display: inline;
  position: relative;
  float: left;
}

.navbar-header p{
  display: inline;
}

.navbar-text {
  color: gray;
  font-size: .5em;
}

.post-meta {
  font-size: 1em;
  padding-left: 10px;
  padding-bottom: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.image {
  min-width: 400px;
  max-width: 600px;
  width: 48.5%;
  margin:.5%
}

a.thumbnail{
  display: block;
}

.rich-text-img {
  display: block;
  width: 48.5%;
  height: 100%;
}

.img-responsive a {
  position: absolute;
  top: 0;
  color: white;
  z-index: 2;
  left: 0;
  font-size: 4em;
  text-shadow: 0 0 10px black;
  padding: 10%;
  height: 100%;
  width: 100%;
  transition: all .5s;
}

.img-responsive a:hover {
  padding-top: 7%;
  transition: all .5s;
}


.img-responsive img{
  display: block;
  width: 100%;
}

.img-responsive {
  position: relative;
  width: 100%;
}

.img-responsive:after {
  content: '';
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:linear-gradient(135deg, black, rgba(0,0,0,0));
  opacity:0;
  transition: all .5s;
}

.img-responsive:hover:after {
  opacity: 0.8;
  transition: all .5s;
}

.recent-image {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
/*
.recent-image:after {
  content: '';
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:linear-gradient(0deg, black 10%, rgba(0,0,0,0));
  opacity:0.8;
}
*/

.recent-image img{
  display: block;
}

.recent-posts a {
  display: block;
  font-size: 1.5em;
}

.recent-posts p {
  font-size: 1.5em;
  position: relative;
  color:white;
  bottom: 40px;
  left: 40px;
}

.recent-posts p:hover {
  transition: all .5s;
  bottom: 60px;
}

.title {
  text-align: center;
  padding: 20px;
}

.read-more {
  color: purple;
  padding-left: 20px;
  margin-bottom: 20px;
}

div.social-icons {
  float: right;
}

.social-icons li {
  display: inline;
  font-size: 1.5em;
  padding: 5px;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
  position: relative;
}

#main-nav .branches {
  visibility: hidden;
  padding: 20px;

}

#main-nav .branches-active {
  visibility: visible;
  padding: 20px 0 20px 0;
}

