{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<ul class="nav">
    {% for page in page_branch %}
    {% if not has_home and page.is_primary and forloop.first %}
    <li{% if on_home %} class="active"{% endif %} id="menu-home">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
    {% endif %}
    {% if page.in_menu %}
    <li class="{% if page.has_children_in_menu %}tree{% endif %}
               {% if page.is_current_or_ascendant %}active{% endif %}"
        id="{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">
            {{ page.title }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
       
    {% for page in page_branch %}
        {% if page.has_children_in_menu %}
        <div class="branches{% if page.is_current_or_ascendant %}-active{% endif %}">
        {% page_menu page %}
        </div>
        {% endif %}
    {% endfor %}


{% else %}

<ul class="branch-menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
    <li class="{% if page.is_current_or_ascendant %}active{% endif %}"
        id="{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endif %}
{% endspaceless %}
