{% load blog_tags keyword_tags mezzanine_tags i18n future %}

<div class="right">

{% block blog_months %}
{% blog_months as months %}
{% if months %}
<h3>{% trans "Blog Archive" %}</h3>
{% for month in months %}
    {% ifchanged month.date.year %}
        {% if not forloop.first %}</ul>{% endif %}
        <h6>{{ month.date.year }}</h6><ul class="list-unstyled">
    {% endifchanged %}
    <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_categories %}
{% blog_categories as categories %}
{% if categories %}
<h3>{% trans "Categories" %}</h3>
<ul class="list-unstyled">
{% for category in categories %}
<li><a href="{% url "blog_post_list_category" category.slug %}"
    >{{ category }}</a> ({{ category.post_count }})</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
</div>


