{% load blog_tags keyword_tags mezzanine_tags i18n future %}


{% for blog_post in blog_posts.object_list %}
{% block blog_post_list_post_title %}
{% editable blog_post.title %}
<h2>
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
</h2>
{% endeditable %}
{% endblock %}
{% block blog_post_list_post_metainfo %}
{% editable blog_post.publish_date %}
<h6 class="post-meta">
    {% with blog_post.categories.all as categories %}
    {% if categories %}
    #
    {% for category in categories %}
    <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% blocktrans with sometime=blog_post.publish_date|date:"M d, Y" %}{{ sometime }}{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}

{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
{% block blog_post_list_post_featured_image %}
<a href="{{ blog_post.get_absolute_url }}">
    <img class="blog-thumbnail" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1000 200 %}">
</a>
{% endblock %}
{% endif %}

{% block blog_post_list_post_content %}
{% editable blog_post.content %}
{{ blog_post.description_from_content|safe }}
{% endeditable %}
{% endblock %}

{% block blog_post_list_post_links %}
    <p>
    <a class="read-more" href="{{ blog_post.get_absolute_url }}">{% trans "read more >>" %}</a>
    </p>
{% endblock %}
{% endfor %}


